<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="CONSOLE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight([%-3level]) ==> %msg %n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="kr.co.jeelee.demoboard.controller.MainController" level="DEBUG" additive="false" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>